Prepare excel file with metadata from adatas for an easier overview of the availiable samples.

In [97]:
import scanpy as sc
import pandas as pd
import os
import pickle

In [2]:
path_rna='/lustre/groups/ml01/workspace/karin.hrovatin/data/pancreas/scRNA/'

In [99]:
# All datasets
datasets=[
    ('human','GSE83139','GSE83139/GEO/'),
    ('human','GSE154126','GSE154126/GEO/'),
    ('human','GSE101207','GSE101207/GEO/'),
    ('human','GSE124742_GSE164875_patch','GSE124742_GSE164875/GEO/patch/'),
    ('human','GSE124742_FACS','GSE124742_GSE164875/GEO/FACS/'),
    ('human','GSE86469','GSE86469/GEO/'),
    ('human','GSE81547','GSE81547/GEO/'),
    ('human','GSE198623','P21000/sophie/human/'),
    ('human','GSE81608','GSE81608/GEO/'),
    ('human','GSE148073','GSE148073/GEO/'),
    ('mouse','GSE137909','GSE137909/GEO/'),
    ('mouse','GSE83146','GSE83146/GEO/')
]

In [100]:
# Save info about all datasets
pickle.dump(datasets,open(path_rna+'external_info.pkl','wb'))

In [101]:
# Save metadata of all datasets
writer = pd.ExcelWriter(path_rna+'external_metadata.xlsx',
                        engine='xlsxwriter') 
for species,name,d in datasets:
    print(species,name)
    # Load adata - filtered if exists
    path_filtered=path_rna+d+'adata_filtered.h5ad'
    file=path_filtered if os.path.exists(path_filtered) else path_rna+d+'adata.h5ad'
    obs=sc.read(file,backed='r').obs.copy()
    donors_all=set(obs.donor.unique()) if 'donor' in obs.columns else set()
    # all data cols
    print('All cols:',list(obs.columns))
    # Remove cells not useful for saving and grouping
    cols_keep=[c for c in obs.columns 
         # Remove organ/organism/tisse/cell info/geo_accession 
         # (as not added to all samples now,may also not be sample specific (e.g. could be cells)
         if 'organ' not in c and 'tissue' not in c and 'cell_' not in c
            and 'geo_accession' not in c ]
    # Make groups based on kept cols
    # Make sure empty groups are dropped and groups with NA are not dsriopped - does not work
    # Thuis fill nan with NA, must first remove categorical
    def uncategorize(col):
        if col.dtype.name == 'category':
            return col.astype(col.cat.categories.dtype)         
        else:
            return col
    obs = obs.apply(uncategorize, axis=0)
    obs=obs.fillna('NA')
    obs=obs.groupby(cols_keep,observed=True,dropna=False)
    # N beta cells per group - add to df
    n_beta=obs.apply(lambda x:x.query('cell_type=="beta"').shape[0])
    # Workaround to add n_beta - remove size latter
    obs=pd.DataFrame(obs.size())
    obs['N_beta_cells']=n_beta.values
    obs=obs.reset_index().drop(0,axis=1)
    # Add species
    obs['organism']=species
    # Display and save
    print('Saved cols:',list(obs.columns))
    display(obs)
    # Make sure donor (if exists) is unique to sinle group - groupping worked as expected
    if 'donor' in obs.columns and obs.value_counts('donor').max()>1:
        raise ValueError('Duplicated donor')
    # make sure all donors are kept
    if len(donors_all)>0:
        if not donors_all==set(obs.donor.unique()):
            raise ValueError('Donors not matching')
    obs.to_excel(writer, sheet_name=name,index=False)   
writer.save()

human GSE83139
All cols: ['tissue', 'disease', 'cell_type', 'geo_accession', 'organ', 'organism', 'donor', 'age', 'sex', 'ethnicity', 'BMI', 'cultured_days', 'cell_type_original']
Saved cols: ['disease', 'donor', 'age', 'sex', 'ethnicity', 'BMI', 'cultured_days', 'N_beta_cells', 'organism']

,disease,donor,age,sex,ethnicity,BMI,cultured_days,N_beta_cells,organism
0,T1D,ACGI428,23 y,male,NA,25.0,10.0,6,human
1,T2D,HP-15041,57 y,male,african_american,23.98,4.0,5,human
2,T2D,HP-15085,37 y,female,white,39.3,4.0,16,human
3,T2D,HP-15085: cultured,37 y,female,white,39.3,12.0,17,human
4,healthy,AAJF122,52 y,male,asian,29.1,6.0,1,human
5,healthy,ABAF490,39 y,female,white,45.2,4.0,30,human
6,healthy,ACAP236,21 y,male,white,39.0,2.0,17,human
7,healthy,ICRH76,2 y,male,white,13.6,2.0,4,human
8,healthy,ICRH80,19 m,female,white,18.0,3.0,15,human

human GSE154126
All cols: ['geo_accession', 'disease', 'cell_type_original', 'donor', 'age', 'sex', 'ethnicity', 'BMI', 'cell_type']
Saved cols: ['disease', 'donor', 'age', 'sex', 'ethnicity', 'BMI', 'N_beta_cells', 'organism']

,disease,donor,age,sex,ethnicity,BMI,N_beta_cells,organism
0,T2D,ACIA085_APT2D,64 y,male,european_american,33.16,0,human
1,T2D,ADDU206,41 y,male,hispanic,26.2,1,human
2,T2D,AEBK009,53 y,male,NA,NA,2,human
3,T2D,AEGY230A,52 y,female,hispanic,42.8,5,human
4,T2D,AEHL151,59 y,male,hispanic,27.7,1,human
5,T2D,HP-15041,57 y,male,african_american,23.98,4,human
6,T2D,HP-15085-01T2D,37 y,female,european_american,39.3,27,human
7,T2D,HP15269-01T2D,55 y,female,european_american,29.84,5,human
8,T2D,HP16012_1T2D,42 y,male,european_american,43.7,1,human
9,T2D,ICRH95,60 y,female,african_american,28.2,0,human
10,healthy,AAJF122,52 y,male,asian_american,29.1,1,human
11,healthy,ABAF490,39 y,female,european_american,45.2,21,human
12,healthy,ACAP236,21 y,male,european_american,39.0,14,human
13,healthy,ACHL274,61 y,male,hispanic,26.8,5,human
14,healthy,ACJW006,10 m,male,african_american,19.5,19,human
15,healthy,ADEY348,11 y,male,european_american,17.8,7,human
16,healthy,ADFY260,12 y,female,african_american,23.26,11,human
17,healthy,HPAP011,3 y,male,african_american,17.6,1,human
18,healthy,ICRH76,2 y,male,european_american,13.6,2,human
19,healthy,ICRH80,19 m,female,european_american,18.0,10,human
20,healthy,ICRH85,18 d,female,hispanic,19.5,43,human
21,healthy,ICRH97,4 y,male,european_american,15.1,2,human

human GSE101207
All cols: ['donor', 'cell_type', 'cell_type_original', 'sex', 'age', 'BMI', 'HbA1c', 'ethnicity', 'death_cause', 'disease', 'organ', 'tissue', 'organism']
Saved cols: ['donor', 'sex', 'age', 'BMI', 'HbA1c', 'ethnicity', 'death_cause', 'disease', 'N_beta_cells', 'organism']

,donor,sex,age,BMI,HbA1c,ethnicity,death_cause,disease,N_beta_cells,organism
0,H1,male,27 y,20.60,5.400,ascian-filipino,stroke,healthy,322,human
1,H2,male,21 y,22.80,5.200,caucasian,trauma,healthy,247,human
2,H3,female,38 y,34.40,5.000,caucasian,anoxic event,healthy,2302,human
3,H4,male,52 y,22.00,5.600,caucasian,stroke,healthy,2357,human
4,H5,male,28 y,30.80,4.900,caucasian,stroke,healthy,1202,human
5,H6,male,44 y,34.60,0.054,caucasian,automobile accident,healthy,1662,human
6,T2D1,male,58 y,39.30,8.900,caucasian,anoxic event,T2D,248,human
7,T2D2,male,61 y,28.10,5.200,caucasian,cerebral vascular accident,T2D,387,human
8,T2D3,male,51 y,35.59,0.071,hispanic,stroke,T2D,1231,human

human GSE124742_GSE164875_patch
All cols: ['donor', 'age', 'sex', 'disease', 'years_diagnosis', 'cell_type_original', 'HbA1c', 'BMI', 'cell_type']
Saved cols: ['donor', 'age', 'sex', 'disease', 'years_diagnosis', 'HbA1c', 'BMI', 'N_beta_cells', 'organism']

,donor,age,sex,disease,years_diagnosis,HbA1c,BMI,N_beta_cells,organism
0,AGAH468,43 y,male,T2D,5.5,7,37.3,1,human
1,AGAL381,52 y,female,T2D,10,7,21.9,8,human
2,AGJU173,52 y,female,T2D,0,9.9,29.2,10,human
3,H2280,53 y,female,healthy,NA,5.7,20.8,1,human
4,H2289,62 y,female,healthy,NA,5.7,19.1,0,human
5,H2294,38 y,male,healthy,NA,6,35.5,0,human
6,H2296,52 y,female,healthy,NA,5.2,29.2,0,human
7,R079,32 y,male,T1D,17,9.3,21.9,1,human
8,R119,27 y,male,T1D,11,NA,18.6,11,human
9,R124,43 y,female,healthy,NA,5.2,24.5,0,human
10,R132,39 y,female,T1D,31,5.9,24.6,0,human
11,R134,23 y,male,healthy,NA,5.9,21.87755,56,human
12,R177,28 y,male,healthy,NA,NA,23.4,6,human
13,R229,22 y,female,healthy,NA,5.3,23.0078125,7,human
14,R230,58 y,male,healthy,NA,6.2,29.41176471,6,human
15,R231,41 y,female,T2D,0.5,6.8,37.12802768,13,human
16,R232,66 y,female,healthy,NA,6.1,18.5,2,human
17,R233,76 y,female,healthy,NA,6,19.27437642,20,human
18,R234,50 y,female,healthy,NA,5.7,31.72870639,18,human
19,R235,53 y,female,healthy,NA,5.7,24.4646016,39,human
20,R237,61 y,male,healthy,NA,5.9,19.67625461,11,human
21,R238,52 y,male,healthy,NA,5.7,26.05242769,9,human
22,R239,24 y,female,healthy,NA,5.5,22,20,human
23,R240,55 y,female,T2D,2,6.9,30.91403302,41,human
24,R241,65 y,male,T2D,25,9.9,21.8299522,1,human
25,R242,46 y,male,healthy,NA,5.9,20.10916403,4,human
26,R243,39 y,male,healthy,NA,5.8,27.1430375,9,human
27,R244,48 y,female,T2D,3,7.5,30.4,9,human
28,R246,65 y,female,healthy,NA,5.8,39.2,3,human
29,R247,72 y,male,healthy,NA,NA,23.9,3,human
30,R252,26 y,female,healthy,NA,5,25.40281608,18,human
31,R253,57 y,male,healthy,NA,5,25.59651559,7,human
32,R256,23 y,male,healthy,NA,5.4,32.5,12,human
33,R257,56 y,male,healthy,NA,7.3,30.2,10,human
34,R259,45 y,female,T2D,4,6.4,33.125,2,human
35,R260,73 y,female,healthy,NA,6.2,26.9,19,human
36,R262,54 y,female,T2D,NA,5.6,22.40587695,5,human
37,R263,71 y,male,T2D,9,7.6,38.27160494,10,human
38,R264,44 y,male,healthy,NA,5.7,33.77098851,9,human
39,R265,64 y,male,healthy,NA,6.6,37.67375092,20,human
40,R269,14 y,male,healthy,NA,NA,21.5,53,human
41,R308,20 y,male,healthy,NA,5.5,19.8,1,human
42,R335,25 y,male,healthy,NA,4.9,24.6,1,human
43,R336,73 y,female,healthy,NA,5.4,31.1,1,human
44,R338,30 y,male,healthy,NA,5.3,25.5,0,human
45,R341,42 y,male,healthy,NA,NA,30,1,human
46,R342,35 y,male,healthy,NA,5.5,25.1,5,human
47,R346,27 y,male,healthy,NA,5.7,24.6,4,human
48,R347,57 y,male,T2D,8,6.3,27.9,6,human
49,R348,42 y,female,healthy,NA,5.7,16.4,0,human
50,R349,63 y,male,T2D,10,5.7,39.6,1,human
51,R352,64 y,female,healthy,NA,5.3,20.4,1,human
52,R353,69 y,male,healthy,NA,NA,22.7,1,human

human GSE124742_FACS
All cols: ['cell_type', 'donor', 'disease', 'age', 'sex', 'BMI', 'HbA1c']
Saved cols: ['donor', 'disease', 'age', 'sex', 'BMI', 'HbA1c', 'N_beta_cells', 'organism']

   donor  disease     age     sex        BMI HbA1c  N_beta_cells organism
0   R230  healthy  58.0 y    male  29.411765   6.2            32    human
1   R231      T2D  41.0 y  female  37.128028   6.8            25    human
2   R235  healthy  53.0 y  female  24.464602   5.7            12    human
3   R241      T2D  65.0 y    male  21.800000   9.9             7    human
4   R242  healthy  46.0 y    male  20.100000   5.9           246    human
5   R244      T2D  48.0 y  female  30.450000   7.5            32    human
6   R247  healthy  72.0 y    male  23.900000    NA            30    human
7   R252  healthy  26.0 y  female  25.400000   5.0            46    human
8   R253  healthy  57.0 y    male  25.600000   5.0            27    human
9   R256  healthy  23.0 y    male  32.500000   5.4            61    human
10  R257      T2D  56.0 y    male  30.200000   7.3             6    human
11  R259      T2D  45.0 y  female  33.100000   6.4            46    human
12  R263      T2D  71.0 y    male  38.300000   7.6            44    human
13  R264  healthy  44.0 y    male  33.800000   5.7            60    human

human GSE86469

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

All cols: ['geo_accession', 'cell_type_original', 'sex', 'disease', 'age', 'ethnicity', 'BMI', 'donor', 'cell_type', 'medication', 'HbA1c']
Saved cols: ['sex', 'disease', 'age', 'ethnicity', 'BMI', 'donor', 'medication', 'HbA1c', 'N_beta_cells', 'organism']

,sex,disease,age,ethnicity,BMI,donor,medication,HbA1c,N_beta_cells,organism
0,female,T2D,42 y,hispanic,43,ACJV399,no,6.5,57,human
1,female,T2D,55 y,white,29.8,ACIW009,no,7.4,27,human
2,female,healthy,53 y,white,22,ACEK420A,no,NA,10,human
3,female,healthy,56 y,white,26.6,ACIB065,no,NA,25,human
4,male,T2D,51 y,hispanic,35.8,ACCR015A,yes,NA,12,human
5,male,healthy,22 y,african_american,32.95,ACCG268,no,5.4,50,human
6,male,healthy,29 y,white,23,ACEL337,no,5.1,71,human
7,male,healthy,30 y,african_american,55,ACHY057,no,5.2,12,human

human GSE81547
All cols: ['geo_accession', 'age', 'sex', 'cell_type_original', 'donor', 'ethnicity', 'BMI', 'cell_type', 'cell_name', 'disease']
Saved cols: ['age', 'sex', 'donor', 'ethnicity', 'BMI', 'disease', 'N_beta_cells', 'organism']

,age,sex,donor,ethnicity,BMI,disease,N_beta_cells,organism
0,1 m,male,DID_scRSq01,african_american,13.71,healthy,48,human
1,21 y,male,DID_scRSq04,caucasian,28.4,healthy,4,human
2,22 y,male,DID_scRSq05,asian,24.8,healthy,89,human
3,38 y,female,DID_scRSq06,african_caucasian,29.5,healthy,69,human
4,44 y,female,DID_scRSq07,american,23.8,healthy,24,human
5,5 y,male,DID_scRSq02,caucasian,17.6,healthy,35,human
6,54 y,male,DID_scRSq08,caucasian,27.29,healthy,36,human
7,6 y,male,DID_scRSq03,NA,NA,healthy,43,human

human GSE198623
All cols: ['donor', 'age', 'sex', 'BMI', 'HbA1c', 'cell_type_original', 'cell_type', 'cell_subtype_original', 'disease']
Saved cols: ['donor', 'age', 'sex', 'BMI', 'HbA1c', 'disease', 'N_beta_cells', 'organism']

  donor   age     sex   BMI  HbA1c  disease  N_beta_cells organism
0  R229  22 y  female  23.0    5.3  healthy          1975    human
1  R237  61 y    male  19.6    5.9  healthy          2196    human
2  R239  24 y  female  22.0    5.5  healthy          1485    human
3  R245  63 y    male  22.3    5.6  healthy          2440    human
4  R266  74 y  female  29.2    6.0  healthy          3827    human

human GSE81608
All cols: ['geo_accession', 'donor', 'disease', 'age', 'ethnicity', 'sex', 'cell_type_original', 'cell_type', 'BMI', 'HbA1c']
Saved cols: ['donor', 'disease', 'age', 'ethnicity', 'sex', 'BMI', 'HbA1c', 'N_beta_cells', 'organism']

,donor,disease,age,ethnicity,sex,BMI,HbA1c,N_beta_cells,organism
0,Non T2D 1,healthy,23 y,african_american,male,21.0,nan,13,human
1,Non T2D 10,healthy,43 y,caucasian,male,31.7,Normal,26,human
2,Non T2D 11,healthy,31 y,hispanic,female,28.7,5.4,12,human
3,Non T2D 12,healthy,56 y,african_american,male,22.8,5.2,50,human
4,Non T2D 2,healthy,32 y,caucasian,female,19.0,5.1,13,human
5,Non T2D 3,healthy,23 y,caucasian,female,24.5,4.9,10,human
6,Non T2D 4,healthy,56 y,caucasian,female,24.1,nan,11,human
7,Non T2D 5,healthy,27 y,african_american,male,31.8,nan,24,human
8,Non T2D 6,healthy,68 y,caucasian,male,26.7,5.3,7,human
9,Non T2D 7,healthy,29 y,caucasian,male,23.4,5.1,17,human
10,Non T2D 8,healthy,60 y,asian_indian,male,27.3,4.9,17,human
11,Non T2D 9,healthy,24 y,caucasian,female,25.4,Normal,7,human
12,T2D 1,T2D,57 y,african_american,male,24.0,7,12,human
13,T2D 2,T2D,37 y,caucasian,female,39.6,7.3,18,human
14,T2D 3,T2D,55 y,caucasian,female,29.9,7.4,29,human
15,T2D 4,T2D,41 y,hispanic,female,43.1,6.5,144,human
16,T2D 5,T2D,42 y,caucasian,male,43.7,6.6,12,human
17,T2D 6,T2D,51 y,hispanic,male,24.4,6.9,81,human

human GSE148073
All cols: ['cell_type_original', 'cell_type', 'disease', 'donor', 'sex', 'age', 'ethnicity', 'BMI', 'years_diagnosis', 'HbA1c', 'organism']
Saved cols: ['disease', 'donor', 'sex', 'age', 'ethnicity', 'BMI', 'years_diagnosis', 'HbA1c', 'N_beta_cells', 'organism']

,disease,donor,sex,age,ethnicity,BMI,years_diagnosis,HbA1c,N_beta_cells,organism
0,AAB,HPAP019,male,22 y,caucasian,29.8,NA,5.2,3193,human
1,AAB,HPAP024,male,18 y,caucasian,24.3,NA,5.5,89,human
2,AAB,HPAP029,male,23 y,caucasian,28.6,NA,5.3,30,human
3,AAB,HPAP038,male,13 y,caucasian,18.34,NA,5.7,1074,human
4,AAB,HPAP043,male,15 y,hispanic,24.07,NA,5.90,281,human
5,AAB,HPAP045,female,27 y,caucasian,26.2,NA,5.2,1066,human
6,AAB,HPAP049,male,29 y,caucasian,37.2,NA,5.4,959,human
7,AAB,HPAP050,female,21 y,hispanic,28.99,NA,5.1,377,human
8,T1D,HPAP020,male,14 y,caucasian,13.32,NA,NA,199,human
9,T1D,HPAP021,female,13 y,caucasian,21.4,7,NA,81,human
10,T1D,HPAP023,female,17 y,caucasian,21.3,7,8.9,2,human
11,T1D,HPAP028,male,4 y,caucasian,17.3,3,9.8,789,human
12,T1D,HPAP032,female,10 y,caucasian,16.3,3,9.0,0,human
13,healthy,HPAP022,female,39 y,caucasian,34.7,NA,4.7,1134,human
14,healthy,HPAP026,male,24 y,caucasian,20.6,NA,4.9,72,human
15,healthy,HPAP034,male,13 y,caucasian,18.7,NA,5.2,12,human
16,healthy,HPAP035,male,35 y,caucasian,26.9,NA,5.2,408,human
17,healthy,HPAP036,female,23 y,caucasian,16.0,NA,5.2,274,human
18,healthy,HPAP037,female,35 y,caucasian,21.9,NA,5.3,444,human
19,healthy,HPAP039,female,5 y,caucasian,16.3,NA,6.8,104,human
20,healthy,HPAP040,male,35 y,caucasian,23.98,NA,5.4,332,human
21,healthy,HPAP042,male,13 m,caucasian,17.9,NA,5.2-5.6,104,human
22,healthy,HPAP044,female,3 y,caucasian,12.0,NA,5.3,133,human
23,healthy,HPAP047,male,8 y,caucasian,16.82,NA,NA,141,human

mouse GSE137909
All cols: ['strain', 'STZ', 'insulin_implant', 'time_after_STZ', 'age', 'batch', 'cell_type_original', 'cell_subtype_original', 'cell_type', 'donor', 'sex', 'disease']
Saved cols: ['strain', 'STZ', 'insulin_implant', 'time_after_STZ', 'age', 'batch', 'donor', 'sex', 'disease', 'N_beta_cells', 'organism']

,strain,STZ,insulin_implant,time_after_STZ,age,batch,donor,sex,disease,N_beta_cells,organism
0,Ngn3-Cre; Rosa-RFP,False,False,NA,12 d,1,Ngn3Cre_P12_1,male,healthy,61,mouse
1,Ngn3-Cre; Rosa-RFP,False,False,NA,12 d,2,Ngn3Cre_P12_2,male,healthy,67,mouse
2,Ngn3-Cre; Rosa-RFP,False,False,NA,2 m,1,Ngn3Cre_Control_1,male,healthy,210,mouse
3,Ngn3-Cre; Rosa-RFP,False,False,NA,21 d,1,Ngn3Cre_P21_1,male,healthy,105,mouse
4,Ngn3-Cre; Rosa-RFP,False,False,NA,3 d,1,Ngn3Cre_P3_1,male,healthy,123,mouse
5,Ngn3-Cre; Rosa-RFP,False,False,NA,4 m,2,Ngn3Cre_Control_2,male,healthy,138,mouse
6,Ngn3-Cre; Rosa-RFP,False,False,NA,4 m,3,Ngn3Cre_Control_3,male,healthy,21,mouse
7,Ngn3-Cre; Rosa-RFP,True,False,2 m,4 m,1,Ngn3Cre_STZ_M2_NoIns_1,male,T2D,5,mouse
8,Ngn3-Cre; Rosa-RFP,True,False,2 m,4 m,2,Ngn3Cre_STZ_M2_NoIns_2,male,T2D,11,mouse
9,Ngn3-Cre; Rosa-RFP,True,True,12 d,2.4 m,1,Ngn3Cre_STZ_D12_1,male,T2D,16,mouse
10,Ngn3-Cre; Rosa-RFP,True,True,12 d,2.77 m,2,Ngn3Cre_STZ_D12_2,male,T2D,34,mouse
11,Ngn3-Cre; Rosa-RFP,True,True,2 m,4 m,1,Ngn3Cre_STZ_M2_1,male,T2D,8,mouse
12,Ngn3-Cre; Rosa-RFP,True,True,30 d,3 m,1,Ngn3Cre_STZ_D30_1,male,T2D,28,mouse
13,Ngn3-Cre; Rosa-RFP,True,True,42 d,3.4 m,1,Ngn3Cre_STZ_D42_1,male,T2D,23,mouse
14,Ngn3-Cre; Rosa-RFP,True,True,5 m,7 m,1,Ngn3Cre_STZ_M5_1,male,T2D,68,mouse
15,Ngn3-Cre; Rosa-RFP,True,True,6 d,2.2 m,1,Ngn3Cre_STZ_D6_1,male,T2D,30,mouse
16,Ngn3-Cre; Rosa-RFP,True,True,9 m,11 m,1,Ngn3Cre_STZ_M9_1,male,T2D,57,mouse

mouse GSE83146
All cols: ['geo_accession', 'age', 'sex', 'cell_type', 'disease']
Saved cols: ['age', 'sex', 'disease', 'N_beta_cells', 'organism']

    age   sex  disease  N_beta_cells organism
0  26 m  male  healthy            69    mouse
1   3 m  male  healthy           138    mouse

In [82]:
path_rna+'external_metadata.xlsx'

'/lustre/groups/ml01/workspace/karin.hrovatin/data/pancreas/scRNA/external_metadata.xlsx'